body{
    margin: 0;
    color: white;
    box-sizing: border-box;
    background-color: #2E3035;
    font-family: Proxima Nova Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
}

button:hover{
    cursor: pointer;
}

header{
    background-image: url("https://s.imgur.com/desktop-assets/desktop-assets/homebg.e52b5cdf24f83bcd55f9f1318855f2ef.png");
    padding-bottom: 140px;
    position: relative;
}

#nav-bar{    
    display: flex;
    z-index: 111;
    position: absolute;
    position: fixed;
    height: 60px;
    padding-right: 15px;
    padding-bottom: 5px;
    background-image: url("https://s.imgur.com/desktop-assets/desktop-assets/homebg.e52b5cdf24f83bcd55f9f1318855f2ef.png");
}

.nav-bar-left{
    display: flex;
}

#logo{
    width: 94px;
    height: 33px;
    padding: 17px;
}

.nav-bar-left > button, .nav-bar-right-two{
    margin-top: 15px;
    margin-left: 5px;
    text-align: center;
    width: 120px;
    height: 35px;
    padding: 8px 14px 10px 9px;
    text-transform: none;
    user-select: none;
    touch-action: manipulation;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 700;  
    background-color: #1bb76e;
    box-shadow: 0 6px 10px 0 rgb(27 28 30 / 31%);
    color: #fff;
    white-space: nowrap;
}

.nav-bar-mid{
    padding: 15px;
    margin-left: 108px;
}

.nav-bar-mid > input{
    color: white;
    width: 500px;
    height: 35px;
    border: none;
    background-color: #454469;
    border-radius: 4px;
}

.nav-bar-mid > input:focus{
    outline: none;
}

.nav-bar-mid > input::placeholder{
    font-size: 1rem;
    padding-top: 7px;
    padding-left: 10px;
    color: #9190A6; 
}

.nav-bar-right{
    margin-left: 25px;
    display: flex;
    gap: 25px;
}

.nav-bar-right-one{
    background: #6432f9;
    width: 100px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0 10px 0 9px;
    overflow: hidden;
    margin: auto 0;
    margin-bottom: 10px;
    line-height: 35px;
    box-shadow: 0 3px 4px rgb(0 0 0 / 12%);
}

#explore{
  width: 86%;
  margin: auto;
}

.explore-one{
    color: lightgray;
    display: flex;
    margin-top: 0;
    padding-top: 0;
}

.explore-one h4:nth-child(1){
  margin-right: 820px;
}

.explore-two{
    display: flex;
    gap: 8px;
}

.explore-two > div{
    width: 10.5%;
    height: 135px;
    text-align: center;
    border-radius: 2px;
    transition: 0.3s;
}

.explore-two > div:hover{
    margin-top: 2px;
}

.explore-two > div > img{
    width: 100%;
    height: 60%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.explore-two  h5,h6{
    margin: 0;
    margin-top: 5px;
    margin-bottom: 8px;
}

h6{
    color: lightgray;
}

.explore-two div:nth-child(1){
    flex-grow: 1;
    background-color: #4070B5;
}

.explore-two div:nth-child(2){
    background-color: #5E58CB;
}

.explore-two div:nth-child(3){
    background-color: #383C64;
}

.explore-two div:nth-child(4){
    background-color: #132D31;
}

.explore-two div:nth-child(5){
    background-color: #2B1A5A;
}

.explore-two div:nth-child(6){
    background-color: #BA519F;
}

.explore-two div:nth-child(7){
    background-color: #328D67;
}

.explore-two div:nth-child(8){
    background-color: #633875;
}

#content{
    background-color: #2E3035;
}

#nav{
    z-index: 121;
    top: 350px;
    left: 128px;
    position: absolute;
    display: flex;
}

#nav h4:nth-child(1){
    margin-right: 800px;
}

#images{
    width: 80%;
    z-index: 11;
    top: 420px;
    left: 128px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-gap: 10px;
}

#images > div{
    border-radius: 5px;
    background-color: #474A51;
    box-shadow: 0 3px 4px rgb(0 0 0 / 12%);
}

#images > div > img{
    width: 100%;
    height: 200px;
}

#images > div > h4{
    text-align: center;
}

